---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FirstSemester from "../components/FirstSemester.astro";
import SecondSemester from "../components/SecondSemester.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-msu-deep-ocean h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-titanium"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Academic Calendar </p>
        </div>

<!--  Academic Calendar -->
<FirstSemester path={currentPath} client:visible />
<SecondSemester path={currentPath} client:visible />
<!-- end  Academic Calendar -->


                

<!-- FooterNaV -->
        <FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->
        


    </main>
	
</Layout>