---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import AcademicCalendar from "../components/AcademicCalendar";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav";
import Footer from "../components/Footer";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
<!-- fold 01 - Header -->
		<Navbar path={currentPath} client:visible />
<!-- end fold 01 -->

<!-- fold 02 -->
<!--  -->
		<div class="bg-msu-deep-ocean text-center xl:px-[12.5%] xs:px-[3.85%] xl:pb-[68px] xs:pb-[48px]">
			<div class="item-center">
				<h4 class="headings xl:h4 xl:pl-[28.5%] xl:pr-[28.5%] xs:h5 xs:px-[60px]">We give you an easy way to enroll for you chosen future</h4>
				<p class="paragraph text-silver xl:p1 xs:p2 xl:pt-[27px] xl:pl-[28.5%] xl:pr-[28.5%] xs:py-[38px] xs:px-[37px]">Lorem ipsum dolor sit amet consectetur. Sit justo semper sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. Eros tellus integer sit non amet amet.</p>
			
			</div>

			<div class="flex justify-center mt-[86px]">
				<div>
					<img src="/images/campus-mini1.png" alt="" class=" xl:h-[200px] xl:block xs:h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini2.png" alt="" class=" xl:h-[200px] xl:block xs:h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini3.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
				</div>
				<div>
					<img src="/images/campus-mini1.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
					
				</div>
				<div>
					<img src="/images/campus-mini2.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
					
				</div>
				<div>
					<img src="/images/campus-mini3.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
				</div>
			</div>

			<div class="grid xl:grid-cols-3 xs:grid-cols-2 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">200+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Certifications</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">20+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Courses for Arts and Sciences</p>
				</div>
				<div class="p-5 max-w-[360px] xl:block xs:hidden">
					<h3 class="headings h3">18,000+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Total graduates and counting</p>
				</div>
			</div>

			<div class="mt-[34px] mb-[34px] xl:hidden  xs:block ">
				<div class="p-5 item-center">
					<h3 class="headings h3">18,000+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Total graduates and counting</p>
				</div>
			</div>
			<div class="grid grid-cols-2 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">100+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Acclaimed Researches</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">20+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Of the best teachers in the field</p>
				</div>
			</div>
		</div>
<!-- end fold 02 -->

<!-- fold 03 -->
		<div class=" bg-msu-maroon w-full px-[12.5%] xl:pt-[80px] xs:pt-[40px]">
			<div class="item-center">
				<h3 class="headings text-center xl:text-white-pure xs:text-msu-golden-fog xl:h3 xs:h5">Admission Procedures</h3>
			</div>
			
			<div class="flex mt-[27px]  justify-center">
				<div class="flex gap-[95px]">
					<div class="flex flex-col  gap-[5px] m-5 xl:block xs:hidden">
						<p class="paragraph p1 text-white-pure w-[180px]">MSU SASE</p>
						<div class="flex flex-col gap-[5px] paragraph p1 text-msu-crimson-ground mt-[26px]">
							<a href="#">Undergraduate Studies</a>
							<a href="#">Transferee</a>
							<a href="#">Returning or Shifting</a>
							<a href="#">Remedial Programs</a>
							<a href="#">Student Fees</a>
						</div>
					</div>

					<div class="grid justify-center gap-[10px]">
					
						<div class="xs:mb-[50px]">
							<h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">MSU SASE Passers</h4>
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<p class="paragraph text-silver xl:p1 xs:p3 pt-[27px]">
									Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
								</p>
				
							</div>
						</div>
						<div class="xl:block xs:hidden">
							
							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>

							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
						</div>
						<div class="xl:hidden xs:block">
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
	
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
							
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
						</div>
						

					</div>

					
					
				</div>
			</div>
			<div class="text-center pb-[60px]">
				<p class="paragraph text-white-pure xl:p1 xs:p2 pt-20 mb-5">Need clarifications or help?</p>
				<a href="" class="bg-transparent border paragraph  xl:p1 xs:p2  gap-10 text-white-pure py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 03 -->

<!-- fold 04 -->
		<div class="bg-msu-deep-ocean  w-full px-[12.5%] pt-20">
			<div class="text-center">
				
				<h3 class="headings xl:h3 xs:h4 text-white-pure">Scholarships and Grants</h3>
				<!-- <h3 class="headings xl:h3 xs:h4 pt-[27px] pl-[28.5%] pr-[28.5%]">Scholarships and Grants</h3> -->
			</div>

			<div class="flex gap-20 mt-[27px] ">
				<div class="p-1 text-center">
					<p class="paragraph  xl:p1 xs:p2 text-white-pure">EXTERNAL</p>
					<p class="paragraph  xl:p1 xs:p2 text-silver mt-[40px]">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
					<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p>
				</div>
				<div class="p-1 text-center xl:block xs:hidden">
					<p class="paragraph  xl:p1 xs:p2 text-white-pure">INTERNAL</p>
					<p class="paragraph  xl:p1 xs:p2 text-silver mt-[40px]">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
					<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p>
				</div>
			</div>

			<div class="mt-[86px] xl:px-[28.5px] xs:px-[12px] mb-[60px] xl:hidden xs:block">
				<div class="p-1 text-center">
					<p class="paragraph  xl:p1 xs:p2 text-white-pure">INTERNAL</p>
					<p class="paragraph xl:p1 xs:p2 text-silver mt-[40px] ">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
					<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p>

				</div>
			</div>

			<div class="mt-[86px] xl:px-[28.5px] xs:px-[12px] mb-[60px]">
				<div class="p-1 text-center">
					<h3 class="headings xl:h3 xs:h4 text-white-pure">Policies</h3>
					<p class="paragraph xl:p1 xs:p2 text-silver mt-[40px] ">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
					<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p>

				</div>
			</div>
		</div>
<!-- end fold 04 -->

<!-- fold 05 -->
		<div class="admissions-fold-05-gb-img w-full  pt-20">
			<div class="item-center">
				<h3 class="headings text-center text-msu-rusty-red xl:h3 xs:h4 xl:pt-[80px] xs:pt-[62px] pl-[12.5%] pr-[12.5%]">You can have any of these</h3>
			</div>

			<div class="place-items-center xs:pt-[48px] text-center paragraph p2 text-msu-rusty-red xs:block xl:hidden">
                <select id="programs">
                    <option id=" " class="">Academic Scholarship</option>
                    <option id=" " class=" ">MSU Tawi-Tawi Scholarship
						for Science and Mathematics
						(SSM)</option>
                    <option id=" " class=" ">Special Privileges for
						Academic Excellence</option>
                    <option id=" " class=" ">The Badjao Grant</option>
                    <option id=" " class=" ">Skill/Talent Study Grant</option>
                    <option id=" " class=" ">Fisheries Technology Study
						Grant (Fish Tech Grant)</option>
                </select>
            </div>
			
			<div class="xl:flex justify-center mt-10 xl:px-[12.5%]">
				<div class="m-5 xl:block xs:hidden">
					<p class="paragraph xl:p1 xs:p2 text-msu-maroon w-[255px] mt-10">Academic Scholarship</p>
					<div class="flex flex-col gap-[5px] paragraph text-graphite mt-[20px]">
						<a href="#" class=" mt-[20px]">MSU Tawi-Tawi Scholarship
							for Science and Mathematics
							(SSM)</a>
						<a href="#" class=" mt-[20px]">Special Privileges for
							Academic Excellence</a>
						<a href="#" class=" mt-[20px]">Cultural Community Grant
							(CCG)</a>
						<a href="#" class=" mt-[20px]">The Badjao Grant</a>
						<a href="#" class=" mt-[20px]">Skill/Talent Study Grant</a>
						<a href="#" class=" mt-[20px]">Fisheries Technology Study
							Grant (Fish Tech Grant)</a>
					</div>

				</div>
				
				<div class="m-5 xl:px-[12.5%] xs:px-[0%] ">
					<h4 class="headings h4 text-msu-maroon mt-10 xl:block xs:hidden">Academic Scholarship</h4>
					<div class="paragraph p2  mt-[10px] text-black-pure">
						<p class=" paragraph xl:p1 xs:p2 pt-[27px]">
								Lorem ipsum dolor sit amet consectetur. Sit justo semper 
								sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. Eros tellus integer sit non amet amet.
						</p>
						<p class="paragraph  xl:p1 xs:p2 pt-[27px]">Requirements: </p>
						<ul class="gap-8 paragraph  xl:p1 xs:p2 pt-[27px] p-10 mb-[20px]">
							<li class="mb-[12px]">Report Card (Form 137)</li>
							<li class="mb-[12px]">PSA Birth Certificate</li>
							<li class="mb-[12px]">SASE Report Rating</li>
							<li class="mb-[12px]">Certificate of Good Moral Character</li>
							<li class="mb-[12px]">Income Tax Return of Parents</li>
							<li class="mb-[12px]">Certificate of Indigency</li>
						</ul>
					</div>
				</div>
					
			</div>
			<div class="text-center pb-[79px]">
				<p class="paragraph text-msu-crimson-ground xl:p1 xs:p2 mb-5">Need more help of information?</p>
				<a href="" class="bg-transparent border border-msu-crimson-ground paragraph xl:p1 xs:p2 gap-10 text-msu-crimson-ground py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 05 -->
		

<!--  Academic Calendar -->
		<AcademicCalendar path={currentPath} client:visible />
<!-- end  Academic Calendar -->


<!-- Main video -->
		<MainVideo path={currentPath} client:visible />
<!-- end Main video -->
		
<!-- FooterNaV -->
		<FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->

	</main>
	
</Layout>
 