---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import ChancellorMessage from "../components/ChancellorMessage.astro";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;

import { getHero } from '../api';
import type { createImageBuilder } from 'astro-sanity';
const hero = await getHero();
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />
		<div class="flex xl:flex-row xs:flex-col justify-center xl:bottom-[80px] xl:h-[640px] xl:mx-[12.5%] xs:mx-0 relative">
			<div class="bg-msu-deep-ocean flex xl:flex-row xs:flex-col justify-center xl:pr-5">
				<div>
					<img src="/images/main-article.png" alt="" class="xl:h-[720px] xs:h-[480px] xs:w-full object-cover object-center" />
					<div class="grid justify-center xl:absolute xl:top-[519px] xs:relative xl:px-10 xs:px-5 xl:pt-0 xs:pt-10">
						<h4 class="headings xl:h4 xs:h5 max-w-[680px]">
							Four decades of steadfast
							Excellence in Marine Sciences
						</h4>
						<p class="paragraph p2 mt-5 text-titanium max-w-[680px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="grid justify-center xl:mt-5 xs:mt-20 mx-5 xl:pb-0 xs:pb-20">
					<div class="flex">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-black-pure w-full xl:px-[12.5%] xs:px-[3.85%]">
			<h5 class="headings h5 text-center xl:pt-[27px] xs:pt-[30px]">Upcoming Events</h5>
			<div class="grid xl:grid-cols-4 md:grid-cols-2 xs:grid-cols-1 mt-[27px]">
				<div class="bg-gradient-ocean flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">June</p>
						<h2 class="headings xl:h2 xs:h3">18</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="bg-gradient-ocean flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">July</p>
						<h2 class="headings xl:h2 xs:h3">03</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="bg-gradient-ocean flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">August</p>
						<h2 class="headings xl:h2 xs:h3">12</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="bg-gradient-ocean flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">September</p>
						<h2 class="headings xl:h2 xs:h3">16</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="xl:campuslife-bg-img xs:bg-transparent">
			<div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] pt-20 xl:bg-none xs:campuslife-bg-img">
				<h3 class="headings xl:h3 xs:h4 xl:w-[414px] xl:text-jusity xs:text-center">Experience MSU-TCTO’s Campus Life</h3>
				<div class=" xs:ml-0 xl:mt-0 xs:mt-10">
					<p class="paragraph xl:p1 xs:p2 xl:w-[840px] text-titanium xl:mb-[41px] xs:mb-[58px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					<div class="flex xl:flex-row xs:flex-col">
						<a href="" class="bg-msu-maroon text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] paragraph xl:p1 xs:p2">Explore The Campus</a>
						<a href="" class="text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] xl:ml-10 xl:mt-0 xs:mt-[10px] paragraph xl:p1 xs:p2 border">Campus History</a>
					</div>
				</div>
				<div class="bg-gradient-ocean h-20 rotate-180 xs:block xl:hidden"></div>
			</div>
			<div class="flex xl:flex-row xs:flex-col justify-center xl:mt-[86px] xl:pb-[141px] xs:pb-[85px] xl:px-[12.5%] xs:px-[3.85%]">
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini1.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure">Explore Academic Programs</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Information Technology</a>
							<a href="#">Science and Arts</a>
							<a href="#">Fishery</a>
							<a href="#">Education</a>
							<a href="#">Oceanography</a>
							<a href="#">Islamic & Arabic Studies</a>
							<a href="#">Post-graduate</a>
						</div>
					</div>
				</div>
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini2.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Admission and Scholarships</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">SASE</a>
							<a href="#">Undergraduate</a>
							<a href="#">Transferee</a>
							<a href="#">Returning / Shifting</a>
							<a href="#">Remedial Program</a>
							<a href="#">Student Fees</a>
							<a href="#">Scholarships and Grants</a>
						</div>
					</div>
				</div>
				<div>
					<img src="/images/campus-mini3.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Visit Our Offices</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Office of the Chancellor</a>
							<a href="#">Admin and Finance</a>
							<a href="#">Planning and Development</a>
							<a href="#">Administrative Offices</a>
							<a href="#">Academic Offices</a>
							<a href="#">Roster of Faculties</a>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Chancellor Message -->
		<ChancellorMessage path={currentPath} client:visible />
<!-- end Chancellor Message -->
		

<!-- fold 05 -->
		<div class="bg-msu-deep-ocean xl:px-[12.5%] xs:px-[3.85%] xl:pt-10 xs:pt-20 xl:pb-[101px] xs:pb-[95px] text-center">
			<h3 class="headings xl:h3 xs:h4 text-white-pure">The Pub</h3>
			<div class="flex xl:flex-row xs:flex-col justify-center items-center">
				<div class="xl:mt-10 xs:mt-20">
					<h4 class="headings xl:h4 xs:h5 text-white-pure">Gazette</h4>
					<div class="relative xl:w-[480px] xs:w-[300px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src="/images/gazette1.png" class="absolute xl:w-[412px] xs:w-[392px] z-20" alt="">
						<img src="/images/gazette2.png" class="absolute xl:w-[412px] xs:w-[392px] top-[15px] left-[15px] z-10" alt="">
						<img src="/images/gazette3.png" class="absolute xl:w-[412px] xs:w-[392px] top-[45px] left-[45px] z-0" alt="">
					</div>
					<div class="xl:max-w-[480px] xs:max-w-[350px] text-left">
						<p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="xl:mt-10 xs:mt-20 xl:ml-[240px]">
					<h4 class="headings h4 text-white-pure">Annual Report</h4>
					<div class="relative xl:w-[480px] xs:w-[300px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src="/images/gazette1.png" class="absolute xl:w-[412px] xs:w-[392px] z-20" alt="">
						<img src="/images/gazette2.png" class="absolute xl:w-[412px] xs:w-[392px] top-[15px] left-[15px] z-10" alt="">
						<img src="/images/gazette3.png" class="absolute xl:w-[412px] xs:w-[392px] top-[45px] left-[45px] z-0" alt="">
					</div>
					<div class="xl:max-w-[480px] xs:max-w-[350px] text-left">
						<p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
			</div>
		</div>
<!-- end fold 05 -->
		
	
<!-- fold 06 -->
		<MainVideo path={currentPath} client:visible />
		
<!-- FooterNaV -->
		<FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->
<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->

	</main>
	
</Layout>
