---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';
import AcademicCalendar from "../components/AcademicCalendar.astro";

const currentPath = Astro.url.pathname;

import { urlForImage } from '../api/api';

import { getYear } from '../js/date';
import { getWordMonth } from '../js/date';
import { get3LettersMonth } from '../js/date';
import { getDay } from '../js/date';

import { get3LatestNews } from '../api/api';
import { get3LatestFeaturedArticle } from '../api/api';
import { get3LatestArticle } from '../api/api';
import { get3_5LatestArticle } from '../api/api';
import { get8UpcomingEvents } from '../api/api';
import { get3LatestGazette } from '../api/api';
import { get3LatestAnnualReport } from '../api/api';
import { get1_3LatestGazette } from '../api/api';
import { get1_3LatestAnnualReport } from '../api/api';

const threeLatestNews = await get3LatestNews();
const threeLatestFeaturedArticle = await get3LatestFeaturedArticle();
const threeLatestArticles = await get3LatestArticle();
const three_5LatestArticles = await get3_5LatestArticle();
const eightUpcomingEvents = await get8UpcomingEvents();
const threeLatestGazette = await get3LatestGazette();
const threeLatestAnnualReport = await get3LatestAnnualReport();
const one_threeLatestGazette = await get1_3LatestGazette();
const one_threeLatestAnnualReport = await get1_3LatestAnnualReport();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class="flex flex-col items-center xl:px-[12.5%] xs:px-[3.85%]">
            <h3 class="headings xl:h3 xs:h5 text-msu-gold">Top News</h3>

            <div class="flex flex-col items-center xl:mt-[40px] xl:px-[12.5%] xs:px-[15px] xs:gap-[30px]">
                {
                    threeLatestNews.map((article: {
                        title: unknown; 
                        body: [
                            {
                                children: [
                                    {
                                        text: unknown;
                                    }
                                ]
                            }
                        ];
                        mainImage: {
                            asset: {
                                url: string
                            };
                        };
                        slug: {
                            current: unknown;
                        };
                        publishedAt: unknown;
                    }) => (
                        <div class="flex xl:flex-row xs:flex-col xs:gap-[10px] ">
                            <div class="flex xl:flex-col xs:flex-row  xs:gap-[10px] w-[120px]">
                                <h4 class="headings xl:h4 xs:h6">{ get3LettersMonth(article.publishedAt) }</h4>
                                <h4 class="headings xl:h4 xs:h6">{ getDay(article.publishedAt) }</h4>
                            </div>
                            <div class="flex">
                                <div class="xl:h-[360px] xs:h-[136px]">
                                    <img src={ urlForImage(article.mainImage.asset.url).width(580).height(360).fit('crop').crop('center').url() } alt="" class="xl:max-h-[360px] object-cover object-center" />
                                </div>
                                <div class="ml-5">
                                    <a href={`/${article.slug.current}`}><h4 class="headings xl:h4 xs:h6 xl:max-w-[720px] xl:max-h-[86px] overflow-hidden">{ article.title }</h4></a>
                                    <p class="paragraph xl:p1 xs:p3 max-w-[720px] xl:max-h-[162px] xs:max-h-[50px] overflow-hidden text-titanium mt-[10px]">
                                        { article.body[0].children[0].text }
                                    </p>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>

        <div class="flex  flex-col items-center  mt-10">
            <h3 class="headings xl:h3 xs:h5 text-msu-gold xl:block xs:hidden">Article</h3>

            <div class="flex flex-col items-center xl:mt-[40px] xl:px-[12.5%] xs:px-[15px] xs:gap-[30px]">
                <div class="flex mt-10">
                    {
						threeLatestFeaturedArticle.map((article: {
							title: unknown; 
                            body: [
                                {
                                    children: [
                                        {
                                            text: unknown;
                                        }
                                    ]
                                }
                            ];
                            mainImage: {
                                asset: {
                                    url: string
                                };
                            };
                            slug: {
                                current: unknown;
                            };
						}, index) => {
                            if(index != 2) {
                                return <div id="" class="flex flex-col xl:block xs:hidden">
                                    <img src={ urlForImage(article.mainImage.asset.url).width(480).height(320).fit('crop').crop('center').url() } alt="" class="object-cover object-center" />
                                    <a href={`/${article.slug.current}`}><h4 class="headings xl:h5 xs:h6 mt-10 xl:max-w-[470px] xl:max-h-[52px] overflow-hidden">{ article.title }</h4></a>
                                    <p class="paragraph xl:p2 xs:p3 xl:max-w-[470px] xl:max-h-[60px] overflow-hidden text-titanium mt-[10px]">
                                        { article.body[0].children[0].text }
                                    </p>
                                </div>
                            }else {
                                return <div id="active" class="flex flex-col">
                                    <img src={ urlForImage(article.mainImage.asset.url).width(480).height(320).fit('crop').crop('center').url() } alt="" class="object-cover object-center" />
                                    <a href={`/${article.slug.current}`}><h4 class="headings xl:h5 xs:h6 mt-10 xl:max-w-[470px] xl:max-h-[52px] overflow-hidden">{ article.title }</h4></a>
                                    <p class="paragraph xl:p2 xs:p3 xl:max-w-[470px] xl:max-h-[60px] xs:max-h-[36px] overflow-hidden text-titanium mt-[10px]">
                                        { article.body[0].children[0].text }
                                    </p>
                                </div>
                            }
                            
						})
					}
                    
                </div>
                <!-- <div class="flex gap-[30px] justify-center mt-[40px] ">
                    <a href="#" class=" bg-white xl:py-[10px] xl:px-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                </div> -->


                <div class="flex xl:mt-20 xs:mt-[20px] ">
                    <div class="flex flex-col mt-[-40px]">
                        {
                            threeLatestArticles.map((article: {
                                title: unknown; 
                                body: [
                                    {
                                        children: [
                                            {
                                                text: unknown;
                                            }
                                        ]
                                    }
                                ];
                                mainImage: {
                                    asset: {
                                        url: string
                                    };
                                };
                                slug: {
                                    current: unknown;
                                };
                            }, index) => (
                                <div class="flex mt-10">
                                    <img src={ urlForImage(article.mainImage.asset.url).width(220).height(160).fit('crop').crop('center').url() } alt="" class="object-cover object-center" />
                                    <div class="ml-5">
                                        <a href={`/${article.slug.current}`}><h4 class="headings h5 max-w-[480px] xl:max-h-[52px] xs:max-h-[50px] overflow-hidden">{ article.title }</h4></a>
                                        <p class="paragraph xl:p2 xs:p3 max-w-[480px] xl:max-h-[80px] xs:max-h-[72px] overflow-hidden text-titanium mt-5">
                                            { article.body[0].children[0].text }
                                        </p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                    <div class="xl:flex xs:hidden xl:flex-col mt-[-40px]">
                        {
                            three_5LatestArticles.map((article: {
                                title: unknown; 
                                body: [
                                    {
                                        children: [
                                            {
                                                text: unknown;
                                            }
                                        ]
                                    }
                                ];
                                mainImage: {
                                    asset: {
                                        url: string
                                    };
                                };
                                slug: {
                                    current: unknown;
                                };
                            }, index) => (
                                <div class="flex mt-10">
                                    <img src={ urlForImage(article.mainImage.asset.url).width(220).height(160).fit('crop').crop('center').url() } alt="" class="object-cover object-center" />
                                    <div class="ml-5">
                                        <a href={`/${article.slug.current}`}><h4 class="headings h5 max-w-[480px] xl:max-h-[52px] overflow-hidden">{ article.title }</h4></a>
                                        <p class="paragraph xl:p2 xs:p3 max-w-[480px] xl:max-h-[80px] overflow-hidden text-titanium mt-5">
                                            { article.body[0].children[0].text }
                                        </p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
                <div class="mt-[50px] text-center  mb-[80px]">
                    
                    <!-- <a href="/gazette-reports" class="bg-transparent border paragraph xl:p1 xs:p2 py-[4.5px] px-[105px] text-white-pure rounded-[40px] xs:block xl:hidden">See More</a> -->
                    <a href="/articles" class="bg-transparent border paragraph xl:p1 xs:p2 py-[4.5px] xl:px-[139px] xs:px-[85px] text-white-pure rounded-[40px]">More Articles</a>
                </div>
            </div>
        </div>

        <div class="flex xl:block xs:hidden">
            <div class=" bg-black-pure flex flex-col items-center xl:px-[12.5%] xs:px-[3.85%]">
                <h3 class="headings h3 text-white-pure mt-20">Upcoming Events</h3>
                <div class="grid grid-cols-4 mt-[131px] mb-[40px]">
                    {
                        eightUpcomingEvents.map((calendar: {
                            title: unknown;
                            date: unknown;
                            body: [
                                {
                                    children: [
                                        {
                                            text: unknown;
                                        }
                                    ]
                                }
                            ];
                            semester: {
								semester: unknown;
							};
							holiday: {
								holiday: unknown;
							};
                        }) => {
                            if (calendar.holiday.holiday === 'Academic Holiday') {
                                return <div class="bg-gradient-ocean flex flex-col px-10 pt-10 pb-[93px]">
                                    <p class="paragraph p1 text-white-pure">{ getWordMonth(calendar.date) }</p>
                                    <h2 class="headings h2 text-white-pure">{ getDay(calendar.date) }</h2>
                                    <p class="paragraph p1 text-titanium">{ calendar.title }</p>
                                    <p class="paragraph p3 text-titanium max-w-[280px] max-h-[48px] overflow-hidden">
                                        {
                                            calendar.body[0].children[0].text
                                        }
                                    </p>
                                </div>
                            }else if (calendar.holiday.holiday === 'National Holiday') {
                                return <div class="bg-gradient-maroon flex flex-col px-10 pt-10 pb-[93px]">
                                    <p class="paragraph p1 text-white-pure">{ getWordMonth(calendar.date) }</p>
                                    <h2 class="headings h2 text-white-pure">{ getDay(calendar.date) }</h2>
                                    <p class="paragraph p1 text-titanium">{ calendar.title }</p>
                                    <p class="paragraph p3 text-titanium max-w-[280px] max-h-[48px] overflow-hidden">
                                        {
                                            calendar.body[0].children[0].text
                                        }
                                    </p>
                                </div>
                            }
                        })
                    }
                </div>
                <div class="mt-[50px] text-center ml-[110px] mb-[80px]">
                    <a href="/academic-calendar" class="bg-transparent border paragraph p1 py-[14px] px-[139px] text-white-pure rounded-[40px]">Check out our academic calendar</a>
                </div>
            </div>
        </div>

    <!-- AcademicCalendar -->
        <div class="flex xl:hidden xs:block">
            <AcademicCalendar />
        </div>
    <!-- end AcademicCalendar -->

        <div class="bg-msu-deep-ocean xl:px-[12.5%] xs:px-[3.85%] pt-20 pb-[60px]">
            <h3 class="headings xl:h3 xs:h5 text-white-pure text-center">Gazettes</h3>
            <div class="flex xl:flex-row xs:flex-col justify-center mt-[53px]">
                <div class="">
                    <div class="flex flex-col">
                        <p class="paragraph xl:p1 xs:p2 text-white-pure text-center">{ getYear(threeLatestGazette[0].publishedAt) }, { threeLatestGazette[0].gazetteQuarter.gazetteQuarter }</p>
                        <div class="relative xl:w-[480px] xs:w-[300px]">
                            <!-- Add msu-drop-shadow on other image other than this gazette -->
                            <a href={`${threeLatestGazette[0].file.asset.url}`} target="_blank"><img src={ urlForImage(threeLatestGazette[0].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] z-20" alt="" /></a>
                            <img src={ urlForImage(threeLatestGazette[1].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[37px] left-[37px] z-10" alt="" />
                            <img src={ urlForImage(threeLatestGazette[2].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[68px] left-[68px] z-0" alt="" />
                        </div>
                        <div class=" ml-5 xl:max-w-[480px] xs:max-w-[350px]">
                            <p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px] xl:h-[80px] xs:h-[95px] overflow-hidden">{ threeLatestGazette[0].body[0].children[0].text }</p>
                        </div>
                    </div> 
                </div>
                <div class="flex xs:flex-col xs:items-left xs:px-[20px] xl:px-[10px]">
                    <p class="flex xl:place-items-center  paragraph xl:ml-[120px] xl:p1 xs:p2 xs:mt-[35px] text-white-pure">Previous Releases</p>
                    <div class="flex xl:mt-10 xs:mt-10 xl:ml-[110px]">
                        {
                            one_threeLatestGazette.map((gazette: {
                                publishedAt: unknown;
                                gazetteQuarter: {
                                    gazetteQuarter: unknown;
                                };
                                mainImage: {
                                    asset: {
                                        url: string;
                                    };
                                };
                                file: {
                                    asset: {
                                        url: unknown;
                                    }
                                };
                                body: [
                                    {
                                        children: [
                                            {
                                                text: unknown;
                                            }
                                        ]
                                    }
                                ];
                            }, index) => {
                                if (index == 0) {
                                    return <div class="w-[203px] ">
                                        <p class="paragraph ml-3 xl:p2 xs:p3 text-white-pure">{ getYear(gazette.publishedAt) }, { gazette.gazetteQuarter.gazetteQuarter }</p>
                                        <a href={`${gazette.file.asset.url}`} target="_blank"><img src={ urlForImage(gazette.mainImage.asset.url).url() } class="h-[286px] w-[203px]" alt="" /></a>
                                        <p class=" paragraph p2 text-titanium  ml-3 mr-3 max-h-[160px] overflow-hidden">{ gazette.body[0].children[0].text }</p>
                                    </div>
                                } else {
                                    return <div class="flex xl:block xs:hidden w-[203px]">
                                        <p class="paragraph ml-3 xl:p2 xs:p3 text-white-pure">{ getYear(gazette.publishedAt) }, { gazette.gazetteQuarter.gazetteQuarter }</p>
                                        <a href={`${gazette.file.asset.url}`} target="_blank"><img src={ urlForImage(gazette.mainImage.asset.url).url() } class="h-[286px] w-[203px]" alt="" /></a>
                                        <p class=" paragraph p2 text-titanium  ml-3 mr-3 max-h-[160px] overflow-hidden">{ gazette.body[0].children[0].text }</p>
                                    </div>
                                }
                                
                            })
                        }
                    </div>
                    <div class="flex xl:mt-[50px] xs:mt-[50px] xl:justify-center xs:justify-center xl:ml-[110px]  ">
                        <a href="/gazette" class="bg-transparent border paragraph p1 py-[4.5px] px-[105px] text-white-pure rounded-[40px] xs:hidden xl:block">More Gazette Reports</a>
                        <a href="/gazette" class="bg-transparent border paragraph xl:p1 xs:p2 py-[4.5px] px-[105px] text-white-pure rounded-[40px] xs:block xl:hidden">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-msu-maroon xl:px-[12.5%] xs:px-[3.85%] pt-20 pb-[60px]">
            <h3 class="headings xl:h3 xs:h5 text-white-pure text-center">Annual Reports</h3>
            <div class="flex xl:flex-row xs:flex-col justify-center mt-[53px]">
                <div class="">
                    <div class="flex flex-col">
                        <p class="paragraph xl:p1 xs:p2 text-white-pure text-center">{ getYear(threeLatestAnnualReport[0].publishedAt) }</p>
                        <div class="relative xl:w-[480px] xs:w-[300px]">
                            <!-- Add msu-drop-shadow on other image other than this gazette -->
                            <a href={`${threeLatestAnnualReport[0].file.asset.url}`} target="_blank"><img src={ urlForImage(threeLatestAnnualReport[0].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] z-20" alt=""></a>
                            <img src={ urlForImage(threeLatestAnnualReport[1].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[37px] left-[37px] z-10" alt="">
                            <img src={ urlForImage(threeLatestAnnualReport[2].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[68px] left-[68px] z-0" alt="">
                        </div>
                        <div class=" ml-5 xl:max-w-[480px] xs:max-w-[350px]">
                            <p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px] xl:h-[80px] xs:h-[95px] overflow-hidden">{ threeLatestAnnualReport[0].body[0].children[0].text }</p>
                        </div>
                    </div> 
                </div>
                <div class="flex xs:flex-col xs:items-left xs:px-[20px] xl:px-[10px]">
                    <p class="flex xl:place-items-center  paragraph xl:ml-[120px] xl:p1 xs:p2 xs:mt-[35px] text-white-pure">Previous Releases</p>
                    <div class="flex xl:mt-10 xs:mt-10 xl:ml-[110px]">
                        {
                            one_threeLatestAnnualReport.map((annualReport: {
                                publishedAt: unknown;
                                mainImage: {
                                    asset: {
                                        url: string
                                    };
                                };
                                file: {
                                    asset: {
                                        url: unknown;
                                    }
                                };
                                body: [
                                    {
                                        children: [
                                            {
                                                text: unknown;
                                            }
                                        ]
                                    }
                                ];
                            }, index) => {
                                if (index == 0) {
                                    return <div class="w-[203px] ">
                                        <p class="paragraph ml-3 xl:p2 xs:p3 text-white-pure">{ getYear(annualReport.publishedAt) }</p>
                                        <a href={`${annualReport.file.asset.url}`} target="_blank"><img src={ urlForImage(annualReport.mainImage.asset.url).url() } class="h-[286px] w-[203px]" alt="" /></a>
                                        <p class=" paragraph p2 text-titanium  ml-3 mr-3 max-h-[160px] overflow-hidden">{ annualReport.body[0].children[0].text }</p>
                                    </div>
                                } else {
                                    return <div class="flex xl:block xs:hidden w-[203px]">
                                        <p class="paragraph ml-3 xl:p2 xs:p3 text-white-pure">{ getYear(annualReport.publishedAt) }</p>
                                        <a href={`${annualReport.file.asset.url}`} target="_blank"><img src={ urlForImage(annualReport.mainImage.asset.url).url() } class="h-[286px] w-[203px]" alt="" /></a>
                                        <p class=" paragraph p2 text-titanium  ml-3 mr-3 max-h-[160px] overflow-hidden">{ annualReport.body[0].children[0].text }</p>
                                    </div>
                                }
                                
                            })
                        }
                    </div>
                    <div class="flex xl:mt-[50px] xs:mt-[50px] xl:justify-center xs:justify-center xl:ml-[110px]  ">
                        <a href="/annual-reports" class="bg-transparent border paragraph p1 py-[4.5px] px-[105px] text-white-pure rounded-[40px] xs:hidden xl:block">More Annual Reports</a>
                        <a href="/annual-reports" class="bg-transparent border paragraph xl:p1 xs:p2 py-[4.5px] px-[105px] text-white-pure rounded-[40px] xs:block xl:hidden">See More</a>
                    </div>
                </div>
            </div>
        </div>


<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->
    </main>
	
</Layout>
