---
import Layout from '../../layouts/Layout.astro';
import Navbar from "../../components/Navbar";
import FooterNav from "../../components/FooterNav.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/css/global.css';
import PageSearch from "../../components/search/PageSearch"

import { getYear } from '../../js/date';
import { get3LettersMonth } from '../../js/date';
import { getDay } from '../../js/date';

const currentPath = Astro.url.pathname;

const { search } = Astro.params;
const splitSearch = search.split('/')
import { getSearchArticleCount } from '../../api/api';
import { getSearchArticle } from '../../api/api';
import SearchForm from '../../components/search/SearchForm';

const maxCount = await getSearchArticleCount(splitSearch[0], splitSearch[1]);
const articles = await getSearchArticle(splitSearch[0], splitSearch[1], splitSearch[2]);
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<div>
		<Navbar path={currentPath} client:visible />

        <div class='bg-black-pure h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-titanium xl:block xs:hidden"><a href="/index">Home</a>   / Search </p>
        </div>
<!-- search -->
        <div class="bg-black-pure w-full xl:px-[12.5%]  xs:px-[3.5%] xl:flex-col xl:pt-[80px] xs:pt-[0px] xl:pb-[123px] xs:pb-[40px] ">
            <div class="flex gap-[239px] justify-center">

                <div class="flex w-[960px]">
                  <div class="flex flex-col gap-[60px] ">
                    <div class="flex flex-col ">   
                      <div class="flex relative xl:mt-0 xs:mt-[15px] xl:w-fit xs:w-full xl:mb-[30px]">
                          <SearchForm search={splitSearch[0]} />
                      </div>
              
                      <div class="flex gap-[30px] mb-4">  
                        <a href=`/search/${splitSearch[0]}/All` class=`paragraph p2 text-left xl:block xs:hidden ${ splitSearch[1] === undefined ? "text-msu-crimson-ground" : "text-titanium" }`>
                            All
                        </a> 
                        <a href=`/search/${splitSearch[0]}/Events` class=`paragraph p2 text-left xl:block xs:hidden ${ splitSearch[1] === "Events" ? "text-msu-crimson-ground" : "text-titanium" }`>
                            Events
                        </a> 
                        <a href=`/search/${splitSearch[0]}/News` class=`paragraph p2 text-left xl:block xs:hidden ${ splitSearch[1] === "News" ? "text-msu-crimson-ground" : "text-titanium" }`>
                            News
                        </a> 
                        <a href=`/search/${splitSearch[0]}/Academics` class=`paragraph p2 text-left xl:block xs:hidden ${ splitSearch[1] === "Academics" ? "text-msu-crimson-ground" : "text-titanium" }`>
                            Academics
                        </a> 
                        <a href=`/search/${splitSearch[0]}/Administrative` class=`paragraph p2 text-left xl:block xs:hidden ${ splitSearch[1] === "Administrative" ? "text-msu-crimson-ground" : "text-titanium" }`>
                            Administrative
                        </a> 
                      </div>
            
                      <div class="flex gap-[50px]">  
                          <p class="paragraph text-titanium p2 mb-[20px] text-left xl:block xs:hidden">
                              { maxCount.length } results
                          </p> 
                          <!-- <p class="paragraph text-titanium p2 mb-[20px] text-left xl:block xs:hidden">
                              Sort by date
                          </p>  -->
                      </div>
                    </div>
                    <div class="flex flex-col gap-[40px]">
                      {
                        articles.map((article) => (
                          <div class="flex flex-col gap-[10px]">
                              <a href={`/${article.slug.current}`}>
                                  <h5 class="headings text-white-pure hover:text-msu-crimson-ground hover:underline h5 mb-[10px] text-left h-13 overflow-hidden">
                                      { article.title }
                                  </h5>     
                              </a>
                              <p class="paragraph text-titanium p2 text-left h-5 overflow-hidden">
                                  { article.body[0].children[0].text }
                              </p>
                              <div class="flex gap-[20px]">
                                  <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                      { article.category.category }
                                  </p> 
                                  <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                      { getYear(article.publishedAt) } { get3LettersMonth(article.publishedAt) } { getDay(article.publishedAt) }
                                  </p> 
                              </div>
                          </div>
                        ))
                      }
                    </div>

                    <PageSearch articles={articles} search={search} maxCount={maxCount.length} />
                  </div>
                </div>

                <!-- <div class="flex flex-col xl:block xs:hidden">
                    <p class="paragraph text-titanium p1  mb-[30px] text-left">
                        Related searches
                    </p>
                    <p class="paragraph text-titanium p2 mb-[20px] text-left">
                        An article title
                    </p>
                    <p class="paragraph text-titanium p2 mb-[20px] text-left">
                        Year 2020 gazette
                    </p>
                    <p class="paragraph text-titanium p2 mb-[20px] text-left">
                        Photo gallery of the new build...
                    </p>
                    <p class="paragraph text-titanium p2 mb-[20px] text-left">
                        History of the school
                    </p>
                    <p class="paragraph text-titanium p2 mb-[20px] text-left">
                        Other related searches
                    </p>
                </div> -->
            </div>
        </div>
<!-- end search --> 


<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->
<!-- Footer -->
		<Footer />
<!-- end Footer -->
                    
    
        </div>



    </main>
	
</Layout>../../components/search/SearchedArticles../../components/search/PageSearch